<div class="row">
    <div class="col-12">
        <button class="btn btn-success" [routerLink]="['new']">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <div class="list-group" *ngFor="let recipeEl of recipes; let i= index">
            <a href="#" style="cursor: pointer;" [routerLink]="[recipeEl.id]" routerLinkActive="active"
                class="list-group-item clearfix my-2">
                <div class="pull-left">
                    <h4 class="list-group-item-heading">{{ recipeEl.name }}</h4>
                    <p class="list-group-item-text">{{ recipeEl.description }}</p>
                </div>
                <span class="pull-right">
                    <img [src]="recipeEl.imagePath" alt="{{ recipeEl.name }}" class="img-responsive"
                        style="max-height: 50px;">
                </span>
            </a>
        </div>
    </div>

</div>